html,
body {
    //font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-family: "Lato", "Open Sans", "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", "Hiragino Kaku Gothic Pro", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, "Geneva CY", "Lucida Grande", "Arial Unicode MS", "Helvetica Neue", "Arial", Sans-Serif;
}

.work-panel {
    height: 98%;
    margin: 0.5em;
}

form>div {
    margin-top: 2em;
}

div>md-input-container,
div>md-select {
    margin: 0.5em;
}