<div fxLayout="column" fxLayout.gt-md="row" class="work-panel">
  <md-card fxFlex.gt-md="20" class="work-panel">
    <md-card-title>{{ 'ticketWorkPanel' | translate  }}</md-card-title>
    <md-card-content fxLayout="column">
      <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
          <input mdInput placeholder="First Name">
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Last Name">
        </md-input-container>
      </div>
      <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex dividerColor="accent">
          <input mdInput placeholder="Pre-filled Input + Accent color" value="Material Design">
        </md-input-container>
      </div>
      <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
          <input mdInput placeholder="Address">
          <span md-prefix><md-icon>place</md-icon></span>
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="City">
          <span md-prefix><md-icon>location_city</md-icon></span>
        </md-input-container>
        <md-input-container fxFlex>
          <input mdInput placeholder="Country">
          <span md-suffix><md-icon>local_airport</md-icon></span>
        </md-input-container>
      </div>
      <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
          <input mdInput placeholder="Character count (max. 100)" maxlength="100" #characterCountHintExample value="Hello! How are you today?">
          <md-hint align="end">{{ characterCountHintExample.value.length }} / 100</md-hint>
        </md-input-container>
      </div>
      <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
          <input mdInput placeholder="Primary Color">
        </md-input-container>
        <md-input-container dividerColor="accent" fxFlex>
          <input mdInput placeholder="Accent Color">
        </md-input-container>
        <md-input-container dividerColor="warn" fxFlex>
          <input mdInput placeholder="Warn Color">
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>

  <md-card fxFlex.gt-md="80" class="work-panel">
    <md-card-title>Simple Table</md-card-title>
    <md-card-content fxLayout="column">
      <p>Try the checkboxes and see what happens.</p>
    </md-card-content>
  </md-card>

</div>