/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();
@import './app/app-theme';
// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #47525E;
}

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;
}

.app-top-nav {
    width: 100%;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

a {
    cursor: pointer;
}

.app-content {
    display: flex;
    flex-basis: 100%;
}

@include app-theme($theme);
$c1:mat-palette($mat-blue-grey, 200);
$c2:mat-palette($mat-grey, 900);
$c3:mat-palette($mat-blue-grey, 200);
@include app-colors($c1, $c2, $c3);
@include angular-material-theme($theme);