<h1>{{ 'member-select-display-property' | translate }}</h1>

<md-tab-group>
  <md-tab label="{{ 'selectable-property' | translate }}">
    <md-list>
      <md-list-item *ngFor="let property of selectableProperties">
        <md-checkbox [(ngModel)]="property.selected">{{ property.name | translate }} </md-checkbox>
      </md-list-item>
    </md-list>
  </md-tab>
</md-tab-group>

<md-dialog-actions align="end">
  <button md-button (click)="cancel()">{{ 'btnCancel' | translate }}</button>
  <button md-raised-button color="primary" (click)="done()">{{ 'btnConfirm' | translate }}</button>
</md-dialog-actions>