<div class="main">

    <div class="app-top-nav">
        <app-partial-top-nav>
        </app-partial-top-nav>
    </div>


    <div class="app-content">
        <!-- message window -->
        <div class="wechat-content" *ngIf="isWechatMode">
            <!-- wechat left nav bar -->
            <div class="wechat-left-nav-bar">
                <div class="wechat-search-box">
                    <mat-form-field>
                        <input matInput placeholder="{{ 'search-chat' | translate}} ">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <button mat-icon-button color="primary">
                        <mat-icon aria-label="">add</mat-icon>
                    </button>
                </div>
                <!-- wechat list -->
                <div class="wechat-list">
                    <div class="wechat-list-item">
                        <img src="assets/img/android.png" />
                        <div class="wechat-list-item-message">
                            <p class="wechat-title">Unity3D</p>
                            <p class="message-summary">江宏: 要不还是重新发布一下吧。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wechat-box">
            </div>
        </div>

        <div class="slack-content" *ngIf="isSlackMode">
            <!-- left bar -->
            <div class="slack-left-nav-bar">
                <!-- <div class="slack-search-box">
                    <mat-form-field>
                        <input matInput placeholder="{{ 'search-chat' | translate}}">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <button mat-icon-button color="primary">
                        <mat-icon aria-label="">add</mat-icon>
                    </button>
                </div> -->
                <div class="channel-left-bar-list">
                    <a [routerLink]="['/',hexTeamName,'message',chat.hexName]" class="channel-hex-name" *ngFor="let chat of chats" [ngClass]="{'slack-chat-selected' : selected(chat)}">
                        <img [src]="chat.avatar" />
                        <span class="group-channel" *ngIf="isChannel(chat)">{{chat.name}}</span>
                        <span *ngIf="isDirect(chat)">{{chat.name}}</span>
                    </a>
                </div>
            </div>
            <!-- main box -->
            <div class="slack-box">

                <!-- title panel -->
                <div class="slack-box-conversation-title">
                    <div class="slack-box-conversation-title-text" *ngIf="currentChat">
                        <img class="slack-box-message-title-avatar" [src]="currentChat.avatar" />
                        <a class="slack-box-conversation-title-text">{{currentChat.name}}</a>
                    </div>
                </div>
                <!-- message list -->
                <div #messagePanel class="slack-box-message-list">
                    <div class="slack-message-item" *ngFor="let message of currentMessages">
                        <img class="slack-message-avatar" [src]="getMessageAvatar(message)" />
                        <div class="slack-message-group">
                            <div class="slack-message-sender">
                                {{ getMessageSenderName(message)}}
                            </div>
                            <div class="slack-message-content">
                                <div> {{ message.content }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- input box -->
                <div class="slack-message-input-box">
                    <app-partial-message-input-box [chat]="currentChat">

                    </app-partial-message-input-box>
                </div>

            </div>
        </div>
    </div>
</div>