<h2 md-dialog-title>{{ 'contactSearchDialogTitle' | translate }}</h2>
<md-dialog-content>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="{{ 'contactSearchPlaceHolder' | translate }}" [(ngModel)]="search">
        </md-input-container>
    </div>
</md-dialog-content>
<md-dialog-actions>
    <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-around center">
        <!-- <button md-button md-dialog-close>No</button> -->
        <button md-raised-button color="primary" (click)="doSearch()" [disabled]="!canDoSearch">{{ 'doSearch' | translate }}</button>
        <!-- <button md-button [md-dialog-close]="true">Yes</button> -->
    </div>
</md-dialog-actions>

<md-list class="demo-list mat-elevation-z2" *ngIf="showContacts">
    <!-- <md-list-item>
    </md-list-item> -->
    <div fxFlex *ngFor="let c of contacts" (click)="doSelect(c)">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="20%" fxLayoutAlign="center">
                <text-img md-list-avatar [text]="c.nickName"></text-img>
            </div>
            <div>
                <h3 md-line>{{ c.nickName }}</h3>
                <p md-line>
                    <span>{{ c.username }}</span>
                    <span class="subline"></span>
                </p>
            </div>
            <span fxFlex></span>
            <div>
                <button md-icon-button (click)="applyContact(c)" mdTooltip="{{ 'addContact' | translate }}"><md-icon>add</md-icon></button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <button md-icon-button mdTooltip="{{ 'inviteToTeam' | translate }}"><md-icon>group_add</md-icon></button>
            <span fxFlex></span>
            <button md-icon-button mdTooltip="{{ 'shareContact' | translate }}"><md-icon>share</md-icon></button>
        </div>
    </div>
</md-list>