@import '../../node_modules/@angular/material/theming';
@import '/partial-top-nav/navbar-theme';
@import '/message/message-theme';
@import '/signup/signup-theme';
@import './ui-components/ui-theme';
@import '/team-list/team-list-theme';
@mixin app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    @include nav-bar-theme($theme);
    @include message-theme($theme);
    @include signup-theme($theme);
    @include team-list-theme($theme);
}

@mixin app-colors($c1, $c2, $c3) {
    @include message-tags($c1, $c2, $c3);
}